div.haikei{
    background: url("img/pyoko08_nyudougumo.png");
    width: 460px;
    height: 460px;
    margin: auto;
}

div.ichi{
    margin-left: 140;
}

input.p1{
    margin-left: 140px;
}

input{
    margin-left: 140px;
}

div.kotae{
    margin-top: 20px;
    margin-left: 100px;
}