div{
    width: 600x;
    margin: auto;
}

input{
    margin-left: 100px;
}


li:nth-child(odd){
    background: url("img/shigoto_zaitaku_cat_man.png");
    width: 350px;
    height: 190px;
    padding: 190px 20px 20px 20px;
    list-style: none;
}

li:nth-child(even){
    background: url("img/shigoto_zaitaku_cat_woman.png");
    width: 350px;
    height: 190px;
    padding: 190px 20px 20px 20px;
    list-style: none;
}