div{
    width: 700x;
    margin: auto;
}

input{
    margin-left: 100px;
}


li:nth-child(odd){
    background: url("img/onepiece05_sanji.png");
    width: 600px;
    height: 700px;
    padding: 190px 20px 20px 20px;
    list-style: none;
}

li:nth-child(even){
    background: url("img/onepiece02_zoro_bandana.png");
    width: 600px;
    height: 700px;
    padding: 190px 20px 20px 20px;
    list-style: none;
}