div{
    width: 600px;
    margin: auto;
}

input{
    margin-left: 140px;
}

li:nth-child(odd){

    background: url("img/shigoto_zaitaku_cat_man.png";
    background-position:60% 40%;
    background-size: cover;
    width: 500px;
    height: 100px;
    padding: 80px 50px 50px 50px;

    list-style: none;
}

li:nth-child(even){

    background: url("img/shigoto_zaitaku_cat_woman.png");
    background-position:  50% 50%;
    background-size: cover;
    width: 500px;
    height: 100px;
    padding: 80px 50px 50px 80px;
    
    list-style: none;
}